<form method="post" action="{{ path('app_saison_delete', {'idsaison': saison.idsaison}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ saison.idsaison) }}">
    <button class="btn">Delete</button>
</form>
