{% extends 'baseadmin.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
    

          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0"> Saison  </h3>
			   
              
            </div>
    <div class="table-responsive">
              <table class="table align-items-center table-flush">
     
             
        <tbody>
            <tr>
                <th>Idsaison</th>
                <td>{{ saison.idsaison }}</td>
            </tr>
            <tr>
                <th>Nomsaison</th>
                <td>{{ saison.nomsaison }}</td>
            </tr>
        </tbody>
       </table>
            </div>
         
</div>    

    
    {{ include('saison/_delete_form.html.twig') }}
<a href="{{ path('app_saison_index') }}" class="btn btn-outline-primary btn-lg btn-block " style="margin-top:1% " role="button" aria-pressed="true">back to list</a>





{% endblock %}
