{% extends 'baseadmin.html.twig' %}

{% block title %}Edit Reclamation{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex mb-3">
            <div class="d-flex mb-3">
                <a class="btn btn-primary mt-3" style="max-height: 35px" href="{{ path('app_reclamation_indexback') }}"><i class="fa fa fa-angle-left"aria-hidden="true"></i></a>

            </div>
            <h1 style="margin-left: 35%; color: blue">Edit Reclamation</h1>
        </div>


        {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}



        {{ include('reclamation/_delete_form.html.twig') }}
    </div>
{% endblock %}
