$color-below-image: #ccc;
@mixin star-icon(){
  background-image:url(https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-20.png);
}
@mixin transforming($value){
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;
}
@mixin transition-transform($delay){
  -webkit-transition: transform $delay;
	-moz-transition: transform $delay;
	-ms-transition: transform $delay;
	-o-transition: transform $delay;
	transition: transform $delay;
}
body{
  background:#e0e0e0;
  text-align:center;
  font-family:"Oswald";
}
.wrapper{
  margin:auto;
}
.product{
  position:relative;
  width:640px;
  background-color:#fff;
  margin:auto;
  overflow:hidden;
  margin-bottom: 20px;
  > div{
    position:relative;
    z-index:10;
  }
  .title{
    background-color:#333;
    color:#fff;
    padding:10px;
    font-size:18px;
    z-index:20;
  }
  .text{
    text-align:left;
    width:49.5%;
    display:inline-block;
    vertical-align:middle;
    color:#333;
    font-weight: 300;
    padding: 20px 0;
    .code{
      padding: 0 20px;
      font-size:11px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .description{
      padding: 0 20px;
      margin-bottom: 10px;
      color: #757575;
    }
    .review{
      font-size:12px;
      padding:0 20px;
      > span{
        vertical-align:middle;
      }
      > span.star-icon{
        width:20px;
        height:20px;
        display:inline-block;
       }
      .star-icon{
        @include star-icon();
      }
      .star-disable{
        opacity:0.5;
      }
    }
    .price{
      padding: 0 20px;
      font-size: 2.5em;
      margin-bottom:10px;
    }
    .shop-actions{
      padding: 0 20px;
      button{
        width: 100%;
        vertical-align:middle;
        background-color: #ffdd00;
        border:none;
        box-shadow: 0 5px 5px -2px rgba(0,0,0,0.5);
        padding:5px;
        font-size:18px;
        font-family:"Oswald"
      }
    }
  }
  .preview{
    width:49.5%;
    display:inline-block;
    vertical-align:middle;
    height:240px;
  }
  .svg{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    height:100%;
    z-index:0;
    .circle{
      fill: $color-below-image;
      transform-origin:50% 50%;
      @include transforming(scale(0.8));
      @include transition-transform(300ms);
    }
    .image{
      transform-origin:50% 50%;
      @include transforming(rotate(0));
      @include transition-transform(300ms);
    }
  }
  &:hover{
    .preview{
      .image{
        @include transforming(rotate(20deg));
      }
      .circle{
        @include transforming(scale(1));
      }
    }
  }
}
