{% extends 'base.html.twig' %}

{% block title %}New Reservationvol{% endblock %}

{% block body %}
    <h1>reserver votre vole</h1>

    {{ include('reservationvol/_form.html.twig') }}

    
{% endblock %}