{% extends 'baseadmin.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block body %}
    <h1>Create new Categories</h1>

    {{ include('categories/_form.html.twig') }}

    <a href="{{ path('app_categories_index') }}">back to list</a>
{% endblock %}
