{% extends 'baseadmin.html.twig' %}

{% block title %}Commandplat index{% endblock %}

{% block body %}
    <h1>Commandplat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commandplat in commandplats %}
            <tr>
                <td>{{ commandplat.id }}</td>
                <td>
                    <a href="{{ path('app_commandplat_show', {'id': commandplat.id}) }}">show</a>
                    <a href="{{ path('app_commandplat_edit', {'id': commandplat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commandplat_new') }}">Create new</a>
{% endblock %}
