{% extends 'base.html.twig' %}

{% block title %}Hello ModifierMdpController!{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
    <button class="btn btn-info btn-block my-4" type="submit">Send</button>

    {{ form_end(form) }}

{% endblock %}
