{{ form_start(form) }}
    {{ form_widget(form) }}
    <div style="margin:2%"> </div>
    <button class="btn btn-success btn-lg  btn-block !important"> {{ button_label|default('Save') }} <i class="ni ni-check-bold"></i></button>
{{ form_end(form) }}
