{% extends 'baseadmin.html.twig' %}

{% block title %}Edit Adresse{% endblock %}

{% block body %}
<div class="row  col-lg-7 col-md-8 center shadow rounded" style="background-color:#ffffffff; margin-top: 1%">
        <div class="col">
    <h1 style="margin-top: 5%">Edit adresse</h1>
    

    {{ include('adresse/_form.html.twig') }}

    

    <a href="{{ path('app_adresse_index') }}" class="btn btn-secondary btn-lg btn-block " style="margin:1% " role="button" aria-pressed="true">back to list</a

</div>
</div>

{% endblock %}

