{% extends 'baseadmin.html.twig' %}

{% block title %}Edit Reservationhotels{% endblock %}

{% block body %}
    <h1>Edit Reservationhotels</h1>

    {{ include('reservationhotels/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservationhotels_index') }}">back to list</a>

    {{ include('reservationhotels/_delete_form.html.twig') }}
{% endblock %}
