{% extends 'baseadmin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  

		
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0"> Compagnieaerienne  </h3>
			   
              
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    
                    <th scope="col">idcompagnie</th>
                    <th scope="col">nomcompagnie</th>
                    
                    
                    
                  </tr>
                </thead>
                <tbody>
				  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                       
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ compagnieaerienne.idcompagnie }}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                    {{ compagnieaerienne.nomcompagnie }}
                    </td>
                    
                
                 
                
                  </tr>
                   
                  
                 

                 
                   
                  
                </tbody>
              </table>
            </div>
         
</div>

    {{ include('compagnieaerienne/_delete_form.html.twig') }}
 <a href="{{ path('app_compagnieaerienne_index') }}" class="btn btn-outline-primary btn-lg btn-block " style="margin-top:1% " role="button" aria-pressed="true">back to list</a>
{% endblock %}
