<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modal</title>
  <link href="{{ asset('frontoffice/css/styles.css')}}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ asset('frontoffice/css/rating.css') }}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="{{ asset('frontoffice/js/rating.js') }}"></script>
  <script defer src="{{ asset('frontoffice/js/script2.js')}}"></script>
</head>
<body>

  <button data-modal-target="#modal">Open Modal</button>
  <div class="modal" id="modal">
    <div class="modal-header">
      <div class="title" style="color: #1BB194;margin-left: 10rem">Example Modal</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">

      {% block body %}
      {% endblock %}
    </div>
  </div>
  <div id="overlay"></div>
</body>
</html>