<style>
.input {
  width: 100%;
}
</style>

{{ form_start(form) }}
    {{ form_widget(form,{'attr': {'class': 'input'}}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
